.side-navigation {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-right: 1px solid #cccccc;
  padding: 10px;
}

button {
  padding: 10px;
  border-radius: 10px;
  background-color: #21b8de;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none !important;
}
